@import "../styles/mixins";
.aboutUs {
  height: 70vh;
  @include makeContainer(200px, 200px);
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../public/assets/images/about.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-size: 100% 100%;
  position: relative;
  @media screen and (max-width:1400px) and (min-width:800px) {
    height: 100%;
    @include makeContainer(100px,100px)
  }
  @media screen and (max-width:768px) {
    height: auto;
    @include makeContainer(50px,50px)
  }
  @media screen and (max-width: 480px) {
    @include makeContainer(10px, 10px);
    background-attachment: unset;
    height: 100%;
  }
  .mobileView {
    display: none !important;
    @media screen and (max-width: 480px) {
      display: flex !important;
    }
   
  }
  .desktopView {
    display: flex !important;
    @media screen and (max-width: 480px) {
      display: none !important;
    }
  }
  &::before {
    position: absolute;
    background-color: grey;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
  }
  .paragraphSection {
    margin-top: 8rem;
    @media screen and (max-width:768px) {
      margin-top: 5rem;
    }
    @media screen and (max-width:1400px) and (min-width:800px){
      margin-top: 3rem;
    }
    @media screen and (max-width: 480px) {
      margin-top: 1rem;
      float: right;
    }
  }
  .whiteText {
    @include usePlayful;
    line-height: 130%;
    font-size: 3.5rem;
    color: white;
    font-weight: 700;
    @media screen and (max-width:1400px) and (min-width:800px){
      font-size: 3rem;
    }
    @media screen and (max-width:768px) {
      font-size: 3rem;
    }
    @media screen and (max-width: 480px) {
      font-size: 2.5rem;
    }
  }
  .goldenText {
    @include usePlayful;
    line-height: 130%;
    font-size: 3.5rem;
    font-weight: 700;
    color: #daa520;
    @media screen and (max-width:1400px) and (min-width:800px){
      font-size: 3rem;
    }
    @media screen and (max-width:768px) {
      font-size: 3rem;
    }
    @media screen and (max-width: 480px) {
      font-size: 2.5rem;
    }
  }
  .sectionHeading {
    @include useSfpro;
    font-size: 1.2rem;
    color: white;
    font-weight: 500;
    @media screen and (max-width:480px) {
      font-size: 1rem;
    }
  }
}
