@import "../styles/mixins";
.archSection {
  @include makeContainer(200px, 100px);
  margin-top: 2rem;
  @media screen and (max-width: 480px) {
    @include makeContainer(0px, 0px);
  }
  @media screen and (max-width: 1400px) and (min-width: 800px) {
    @include makeContainer(100px, 50px);
  }
  .headingArc {
    @include useSfpro;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    @media screen and (max-width: 480px) {
      font-size: 1rem;
      margin-left: auto;
      margin-right: 10px;
    }
  }
  .image {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    @media screen and (max-width: 1400px) and (min-width: 800px) {
      height: auto;
      margin-top: 3rem;
    }
    @media screen and (max-width: 480px) {
      height: auto;
      border-radius: 2px;
    }
  }
  .whiteText {
    @include usePlayful;
    line-height: 130%;
    font-size: 2.5rem;
    letter-spacing: 150%;
    color: white;
    font-weight: 700;
    @media screen and (max-width: 1400px) and (min-width: 800px) {
      font-size: 3rem;
    }
    @media screen and (max-width: 480px) {
      margin: 0px 10px;
      font-size: 3rem;
    }
  }

  .goldenText {
    @include usePlayful;
    line-height: 130%;
    font-size: 2.5rem;
    font-weight: 700;
    color: #daa520;
    @media screen and (max-width: 1400px) and (min-width: 800px) {
      font-size: 3rem;
    }
    @media screen and (max-width: 480px) {
      font-size: 3rem;
    }
  }
  .with {
    position: relative;
    @media screen and (max-width: 1400px) and (min-width: 800px) {
      font-size: 2.5rem;
    }
    &::after {
      content: "the City";
      position: absolute;
      top: 80%;
      left: 50%;
      @include usePlayful;
      line-height: 130%;
      letter-spacing: 150%;
      font-size: 2.5rem;
      font-weight: 700;
      color: #fff;
      @media screen and (max-width: 1400px) and (min-width: 800px) {
        font-size: 3rem;
      }
      white-space: nowrap;
      @media only screen and (min-width: 320px) and (max-width: 410px) {
        font-size: 3rem;
        left: 45%;
      }
      @media screen and (max-width: 480px) {
        color: #daa520;
        left: 80%;
        font-size: 3rem;
      }
    }
  }
  .whiteSmallTextFirstPart {
    margin-top: 5rem;
  }
  @media screen and (max-width: 480px) {
    .normalParagraph {
      margin-inline: 10px;
    }
  }
}
